.logo img {
  float: left;
}
.site-name::before {
  content:  "|";
  margin-left: 0.3em;
}
.navbar-toggle .icon-bar {
  background-color: #f5f5f5;
}
.navbar .nav>li>a {
   font-size: 1.2em;
   font-weight: 600;
 }
.navbar .nav>.is-active>a {
  border-bottom: 5px solid #e9e6df;
  color: #333333;
  background: transparent;
}
#nav-search {
  margin-right: 2%;
}
@media (max-width: 767px) {
  .navbar-collapse {
    clear: both;
  }
}
.site-footer{
  margin-top: 100px;
}