@media (max-width: 767px) {
  /* line 4, ../../sass/stanford_light/includes/_base.scss */
  body {
    padding: 0;
  }

  /* line 7, ../../sass/stanford_light/includes/_base.scss */
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* line 12, ../../sass/stanford_light/includes/_base.scss */
  #global-header .container,
  #global-footer .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* line 18, ../../sass/stanford_light/includes/_base.scss */
.header {
  margin: 0;
  padding: 30px 0;
  min-height: 60px;
}

/* line 24, ../../sass/stanford_light/includes/_base.scss */
.red-bar .header {
  border-top: 10px solid #8c1515;
}

/* line 28, ../../sass/stanford_light/includes/_base.scss */
.nav-search {
  margin-right: 2%;
  margin-top: -90px;
}
@media (max-width: 767px) {
  /* line 28, ../../sass/stanford_light/includes/_base.scss */
  .nav-search {
    margin: -7px 0 0 0;
  }
}

/* line 38, ../../sass/stanford_light/includes/_base.scss */
.main {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

/* line 44, ../../sass/stanford_light/includes/_base.scss */
.mc-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../../sass/stanford_light/includes/_base.scss */
.site-footer {
  margin: 0;
  padding: 30px 0 20px 0;
}

/* line 77, ../../sass/stanford_light/includes/_base.scss */
h2:first-child,
h3:first-child,
h4:first-child,
body.cke_show_borders h2:first-child,
body.cke_show_borders h3:first-child,
body.cke_show_borders h4:first-child {
  margin-top: 0;
}

/* line 83, ../../sass/stanford_light/includes/_base.scss */
.content ul li {
  list-style-type: square;
}

/* line 87, ../../sass/stanford_light/includes/_base.scss */
.site-logo img {
  margin-right: 15px;
}
@media (max-width: 480px) {
  /* line 87, ../../sass/stanford_light/includes/_base.scss */
  .site-logo img {
    margin-right: 0;
  }
}

/* line 94, ../../sass/stanford_light/includes/_base.scss */
#name-and-slogan {
  padding-left: 0;
}

/* line 98, ../../sass/stanford_light/includes/_base.scss */
.site-name {
  margin-left: -4px;
}

/* line 112, ../../sass/stanford_light/includes/_base.scss */
.descriptor-btn a,
a.descriptor-btn {
  padding: 3px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

/* line 123, ../../sass/stanford_light/includes/_base.scss */
.caption {
  margin-bottom: 0;
}

/* line 127, ../../sass/stanford_light/includes/_base.scss */
.quote {
  font-size: 1.3em;
  line-height: 1.5em;
  quotes: '\201c' '\201d';
}

/* line 133, ../../sass/stanford_light/includes/_base.scss */
blockquote {
  padding: 2em 3em 1em;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 60px 30px;
}

@media (min-width: 480px) {
  /* line 141, ../../sass/stanford_light/includes/_base.scss */
  blockquote {
    margin: 0 15px 30px;
  }
}
/* line 146, ../../sass/stanford_light/includes/_base.scss */
blockquote.quote {
  padding: .5em 3em 1em;
}

/* line 152, ../../sass/stanford_light/includes/_base.scss */
blockquote p,
blockquote .more-link a,
blockquote a.more-link {
  font-size: 20.8px;
  line-height: 1.5em;
  margin-bottom: 1em;
}

/* line 158, ../../sass/stanford_light/includes/_base.scss */
blockquote > p:first-child {
  line-height: 1.5em;
  padding-left: 0;
  text-indent: 0;
}

/* line 164, ../../sass/stanford_light/includes/_base.scss */
p.quote {
  text-indent: -1em;
}

/* line 168, ../../sass/stanford_light/includes/_base.scss */
p.quote:before {
  position: relative;
  left: -5px;
}

/* line 176, ../../sass/stanford_light/includes/_base.scss */
.quote:before,
.quote:after,
div.quote p:last-child:after,
blockquote.quote p:last-child:after {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.5;
}

/* line 182, ../../sass/stanford_light/includes/_base.scss */
.quote:before {
  content: open-quote;
}

/* line 186, ../../sass/stanford_light/includes/_base.scss */
.quote:after {
  content: close-quote;
}

/* line 191, ../../sass/stanford_light/includes/_base.scss */
div.quote:before,
blockquote.quote:before {
  left: -27px;
  position: relative;
  top: 34px;
}

/* line 198, ../../sass/stanford_light/includes/_base.scss */
div.quote:after,
blockquote.quote:after {
  display: none;
}

/* line 204, ../../sass/stanford_light/includes/_base.scss */
div.quote p:last-child:after,
blockquote.quote p:last-child:after,
p.quote:after {
  content: close-quote;
  line-height: 0;
  position: relative;
  left: 8px;
  top: 20px;
}

/* line 212, ../../sass/stanford_light/includes/_base.scss */
.big-text {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

/* line 220, ../../sass/stanford_light/includes/_base.scss */
.infotext {
  font-size: 4em;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 0;
  letter-spacing: -0.05em;
}

/* line 228, ../../sass/stanford_light/includes/_base.scss */
.circle-image img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
}

/* line 238, ../../sass/stanford_light/includes/_base.scss */
a.btn,
.btn a {
  padding: 0.5em 1em;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}

/* line 252, ../../sass/stanford_light/includes/_base.scss */
a.more-link,
.more-link a {
  text-transform: none;
  display: inline;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

/* line 261, ../../sass/stanford_light/includes/_base.scss */
a.more-link:after,
.more-link a:after {
  content: " »";
}

/* line 270, ../../sass/stanford_light/includes/_base.scss */
.view > .more-link {
  display: block;
}

/* line 275, ../../sass/stanford_light/includes/_base.scss */
a.edit-link,
.edit-link a {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
  font-size: .8em;
  text-decoration: none;
}

/* line 286, ../../sass/stanford_light/includes/_base.scss */
a.edit-link:hover,
a.edit-link:focus,
.edit-link a:hover,
.edit-link a:focus {
  background: #dddddd;
}

/* line 291, ../../sass/stanford_light/includes/_base.scss */
a.btn.btn-red,
.btn.btn-red a {
  background: #8c1515;
}

/* line 297, ../../sass/stanford_light/includes/_base.scss */
a.btn.btn-arrow-left,
a.btn.btn-arrow-left:hover,
a.btn.btn-arrow-left:focus {
  background-image: url("../../images/btn-arrow-left.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  text-align: right;
}

/* line 307, ../../sass/stanford_light/includes/_base.scss */
a.btn.btn-arrow-right,
a.btn.btn-arrow-right:hover,
a.btn.btn-arrow-right:focus {
  background-image: url("../../images/btn-arrow-right.png");
  background-position: 93% center;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  padding-right: 30px;
  text-align: left;
}

/* line 318, ../../sass/stanford_light/includes/_base.scss */
.block > h2 {
  margin-top: 0;
}

/* line 322, ../../sass/stanford_light/includes/_base.scss */
.well {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 1.3em;
}

/* line 331, ../../sass/stanford_light/includes/_base.scss */
ul.pager li {
  margin: 0;
}

/* line 335, ../../sass/stanford_light/includes/_base.scss */
ul.nav-pills a.active {
  background: transparent;
}

/* line 339, ../../sass/stanford_light/includes/_base.scss */
ul.pager li a {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 0px;
  padding: 4px 10px;
}

/* line 349, ../../sass/stanford_light/includes/_base.scss */
ul.pager li.pager-current {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 0px;
  padding: 4px 10px;
  margin: 0;
}

/* line 356, ../../sass/stanford_light/includes/_base.scss */
.item-list .pager li {
  padding: 0;
}

/* line 360, ../../sass/stanford_light/includes/_base.scss */
#nav-search {
  margin-right: 0;
}

/* line 364, ../../sass/stanford_light/includes/_base.scss */
#block-search-form input.search-query {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 33px;
}

/* line 372, ../../sass/stanford_light/includes/_base.scss */
.navbar #block-search-form input.btn-search {
  top: 2px;
}

/* line 1, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg .header {
  min-height: 60px;
}

/* line 4, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.front.header-bkg .header {
  min-height: 175px;
}

/* line 7, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.front.header-bkg .nav-search {
  margin-top: -205px;
}
@media (max-width: 767px) {
  /* line 7, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
  .front.header-bkg .nav-search {
    margin-top: 0;
  }
}

/* line 13, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.front.header-bkg.header-bkg-style-frontbleed .header {
  min-height: 60px;
}

/* line 17, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-style-frontbleed .nav-search,
.front.header-bkg.header-bkg-style-frontbleed .nav-search {
  margin-top: -100px;
}
@media (max-width: 767px) {
  /* line 17, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
  .header-bkg.header-bkg-style-frontbleed .nav-search,
  .front.header-bkg.header-bkg-style-frontbleed .nav-search {
    margin-top: 0;
  }
}

/* line 23, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-image .header {
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  margin: 0;
}
@media (max-width: 380px) {
  /* line 23, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
  .header-bkg.header-bkg-image .header {
    background-size: cover;
  }
}

/* line 32, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg .site-main-menu {
  padding-top: 10px;
}

@media (max-width: 767px) {
  /* line 36, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
  .header-bkg .site-main-menu {
    padding-top: 0px;
  }

  /* line 39, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
  .front.header-bkg.header-bkg-image .header {
    min-height: 150px;
  }
}
/* line 43, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-wallpaper .header {
  background-repeat: repeat;
  background-position: center top;
  margin: 0;
}

/* line 53, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-text-light .site-name a,
.header-bkg.header-bkg-text-light .site-name a:hover,
.header-bkg.header-bkg-text-light .site-name a:active,
.header-bkg.header-bkg-text-light #site-slogan,
.header-bkg.header-bkg-text-light .site-login,
.header-bkg.header-bkg-text-light .site-login a {
  color: white;
  text-shadow: 0 0 2px #333333;
}

/* line 62, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-text-dark .site-name a,
.header-bkg.header-bkg-text-dark .site-name a:hover,
.header-bkg.header-bkg-text-dark .site-name a:active,
.header-bkg.header-bkg-text-dark #site-slogan,
.header-bkg.header-bkg-text-dark .site-login,
.header-bkg.header-bkg-text-dark .site-login a {
  color: #333333;
  text-shadow: 0 0 2px white;
}

/* line 66, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu {
  border: 0;
  background: transparent;
}

/* line 70, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu {
  padding: 0;
}

/* line 73, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  padding: 0.5em;
  margin: 0;
}
/* line 76, ../../sass/stanford_light/includes/_module-header-bkg-img.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a {
  padding: 0.25em 0.5em;
  border: 0;
  margin-right: 0.5em;
}

/* line 1, ../../sass/stanford_light/includes/_module-navbar.scss */
.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: medium none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* line 8, ../../sass/stanford_light/includes/_module-navbar.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 13, ../../sass/stanford_light/includes/_module-navbar.scss */
.navbar .nav > li > a {
  padding: 0;
  text-shadow: none;
  margin-right: 1em;
}

/* line 18, ../../sass/stanford_light/includes/_module-navbar.scss */
.navbar .nav > li:last-child > a {
  margin-right: 0;
}

@media (max-width: 767px) {
  /* line 22, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* line 26, ../../sass/stanford_light/includes/_module-navbar.scss */
  #main-nav {
    margin: 0.5em 0;
    padding: 1em;
  }

  /* line 30, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar .nav > li > a {
    margin-right: 0;
    margin-bottom: 0.25em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 0.25em 0.5em;
  }

  /* line 36, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar .nav > li.last > a {
    margin-bottom: 0;
  }

  /* line 39, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar .btn-navbar {
    background-image: none;
    background: #8c1515;
    border: none;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }

  /* line 47, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar .btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 50, ../../sass/stanford_light/includes/_module-navbar.scss */
  .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background: #333333;
  }
}
/* line 1, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: white;
  border: 0;
}

/* line 6, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.dropdown-menu > li > a {
  white-space: inherit;
  line-height: 1.4em;
  padding: 0.5em 1em;
}

/* line 11, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.navbar .nav > li > .dropdown-menu:before {
  display: none;
}

/* line 14, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}

/* line 17, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #333333;
}

/* line 21, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  border-color: transparent;
}

/* line 24, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}

/* line 28, ../../sass/stanford_light/includes/_module-navbar-dropdown.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background: #333333;
  color: white;
}

/* line 2, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.main .menu,
.site-footer .menu {
  margin: 0;
}

/* line 6, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.main .menu li,
.site-footer .menu li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 12, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.site-footer .menu li a {
  line-height: 1.4em;
  padding: 0 0 0.5em;
}

/* line 17, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.main .content > .menu > li > a,
.site-footer .content > .menu > li > a {
  font-weight: 600;
}

/* line 27, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active,
.main .menu li a.active-trail,
.site-footer .menu li a:hover,
.site-footer .menu li a:focus,
.site-footer .menu li a.active,
.site-footer .menu li a.active-trail {
  background: transparent;
}

/* line 31, ../../sass/stanford_light/includes/_module-sidebar-nav.scss */
.main .menu li ul,
.site-footer .menu li ul {
  padding-left: 1em;
}

/* line 1, ../../sass/stanford_light/includes/_module-bodybg.scss */
.bodybg .sidebar .region {
  padding: 15px;
}

/* line 4, ../../sass/stanford_light/includes/_module-bodybg.scss */
.bodybg .content-wrapper {
  padding: 30px;
}
@media (max-width: 767px) {
  /* line 4, ../../sass/stanford_light/includes/_module-bodybg.scss */
  .bodybg .content-wrapper {
    padding: 15px;
  }
}

/* line 10, ../../sass/stanford_light/includes/_module-bodybg.scss */
.bodybg .breadcrumb {
  padding: 8px 30px;
}

/* line 1, ../../sass/stanford_light/includes/_module-breadcrumb.scss */
#breadcrumb {
  padding: 0 1% 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  /* line 1, ../../sass/stanford_light/includes/_module-breadcrumb.scss */
  #breadcrumb {
    padding: 0;
  }
}

/* line 8, ../../sass/stanford_light/includes/_module-breadcrumb.scss */
.breadcrumb {
  padding: 8px 10px;
}

/* line 11, ../../sass/stanford_light/includes/_module-breadcrumb.scss */
.roundedcorners .breadcrumb {
  border-radius: 5px;
}

/* line 1, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts {
  background: #4D4F53;
  margin: 0px;
  padding: 8px 10px 3px 10px;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* line 8, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts .nav {
  margin: 0;
  padding: 0;
}

/* line 12, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu a, #admin-shortcuts .content a {
  background: #4D4F53;
  color: #fff;
  padding: 3px 10px;
  font-weight: normal;
}

/* line 18, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu a:hover, #admin-shortcuts ul.menu a:active, #admin-shortcuts .content a:hover, #admin-shortcuts .content a:active {
  background: #222;
  border-radius: 5px;
}

/* line 22, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu > li > a:hover, #admin-shortcuts ul.menu > li > a:active, #admin-shortcuts .content > ul > li > a:hover, #admin-shortcuts .content > ul > li > a:active {
  background: #222;
  border-radius: 10px;
}

/* line 26, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu, #admin-shortcuts .content ul {
  background: #4D4F53;
}

/* line 29, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li, #admin-shortcuts .content ul li {
  display: inline-block;
  margin: 0;
}

/* line 33, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li ul, #admin-shortcuts .content ul li ul {
  display: none;
}

/* line 36, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li:hover ul, #admin-shortcuts .content ul li:hover ul {
  display: block;
  position: absolute;
  width: 200px;
}

/* line 41, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu ul li, #admin-shortcuts .content ul ul li {
  display: block;
}

/* line 44, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu ul a, #admin-shortcuts .content ul ul a {
  padding-left: 20px;
}

/* line 47, ../../sass/stanford_light/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu .caret, #admin-shortcuts .content .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

/* WebAuth Authentication */
/* line 2, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-webauth h2 {
  display: none;
}

/* User Login */
/* line 6, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user {
  display: table;
  float: right;
  text-align: left;
  margin-bottom: 10px;
}

/* line 12, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user h2 {
  display: none;
}

/* line 15, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user form {
  display: table-row;
}

/* line 18, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user .form-item {
  display: table-cell;
  padding-right: 10px;
}

/* line 22, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user .form-item input {
  width: 120px;
}

/* line 25, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user .item-list {
  display: none;
}

/* line 28, ../../sass/stanford_light/includes/_module-site-login.scss */
.region-site-login .block-user .form-actions {
  display: table-cell;
  vertical-align: bottom;
}

@media (max-width: 480px) {
  /* line 33, ../../sass/stanford_light/includes/_module-site-login.scss */
  .region-site-login .block-user {
    display: block;
    float: none;
  }

  /* line 37, ../../sass/stanford_light/includes/_module-site-login.scss */
  .region-site-login .block-user form {
    display: block;
  }

  /* line 40, ../../sass/stanford_light/includes/_module-site-login.scss */
  .region-site-login .block-user .form-item {
    display: block;
  }

  /* line 43, ../../sass/stanford_light/includes/_module-site-login.scss */
  .region-site-login .block-user .form-item input {
    width: 100%;
  }

  /* line 46, ../../sass/stanford_light/includes/_module-site-login.scss */
  .region-site-login .block-user .form-actions {
    display: block;
  }
}
/* ----- Sticky Global Footer --------------- */
/* line 2, ../../sass/stanford_light/includes/_module-sticky-footer.scss */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 7, ../../sass/stanford_light/includes/_module-sticky-footer.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px auto;
}

/* Set the fixed height of the push div */
/* line 15, ../../sass/stanford_light/includes/_module-sticky-footer.scss */
#push {
  height: 90px;
}

/* line 18, ../../sass/stanford_light/includes/_module-sticky-footer.scss */
body.admin-menu {
  height: calc(100% - 28px);
}

/* line 1, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
.banner-overlay {
  height: 0;
  position: absolute;
}

/* line 5, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
.banner-overlay > div {
  background: rgba(0, 0, 0, 0.75);
  color: #F2F1EB;
  position: relative;
  max-width: 60%;
  padding: 1.25em 1.5em 1.5em 1.5em;
  top: -190px;
}

/* line 13, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
.border-simple .banner-overlay > div {
  margin-left: 6px;
}
@media (max-width: 480px) {
  /* line 13, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
  .border-simple .banner-overlay > div {
    margin-left: 0;
  }
}

/* line 19, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
.banner-overlay p {
  margin-bottom: 0;
}

/* line 22, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
.banner-overlay h2, .banner-overlay h3, .banner-overlay h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

@media (max-width: 979px) {
  /* line 30, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
  [class*="span"] .banner-overlay {
    height: auto;
    position: inherit;
  }

  /* line 34, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
  [class*="span"] .banner-overlay > div {
    position: inherit;
    margin: 0px;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 42, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
  .banner-overlay {
    height: auto;
    position: inherit;
  }

  /* line 46, ../../sass/stanford_light/includes/_module-banner-overlay.scss */
  .banner-overlay > div {
    position: inherit;
    margin: 0px;
    max-width: 100%;
  }
}
