{% if site_logo %}
	 <h1 class="logo">
		 <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
			 <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
		 </a>
	 </h1>
 {% endif %}

	{% if site_name %}
		<div class="site-name">
			<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
		</div>
	{% endif %}

	{% if site_slogan %}
    <div id="site-slogan" class="site-slogan">
      {{ site_slogan }}
    </div>
  {% endif %}

