<div id=admin-shortcuts" class="admin-shortcuts clearfix">
    <div class="menu nav">
      {{ page.site_login }}
    </div>
</div>

<div id="wrap">
<header class="header" role="banner">
	<div class="container">
		<div class="row">
			{{ page.header }}
		</div>
	</div>
</header>



	<div id="main-menu" class="clearfix site-main-menu">
    <div class="container">
      <div class="navbar">
				<div class="navbar-inner">
          <button type="button" class="navbar-toggle btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-main">
            {#<i class="fa fa-bars"></i>#}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="nav-search" class="nav-search">
            {{ page.search_box }}
          </div>
        {{ page.navigation }}
					</div>
      </div>
    </div>
	</div>


{% block content %}

	<main role="main" class="main">
		<div class="layout-content">

            {{ page.highlighted }}
            {{ page.main_top }}
            {{ page.main_upper }}

			<div id="content" class="content full">
				<div class="container">
					<div class="row">

                        {% if page.sidebar_first %}
							<aside class="layout-sidebar-first" role="complementary">
								<div class="col-md-3">
                                    {{ page.sidebar_first }}
								</div>
							</aside>
                        {% endif %}

                        {% if page.sidebar_second and page.sidebar_first %}
                            {% set col_class = 'col-md-6' %}
                        {% elseif page.sidebar_second or page.sidebar_first %}
                            {% set col_class = 'col-md-9' %}
                        {% else %}
                            {% set col_class = 'col-md-12' %}
                        {% endif %}

						<div class="{{ col_class }}">
                            {{ page.content }}
						</div>

                        {% if page.sidebar_second %}
							<aside class="layout-sidebar-second" role="complementary">
								<div class="col-md-3">
                                    {{ page.sidebar_second }}
								</div>
							</aside>
                        {% endif %}

					</div>
				</div>
			</div>

            {{ page.main_lower }}

		</div>
	</main>

{% endblock %}


</div> {#wrap#}


<footer id="footer" class="clearfix site-footer" role="contentinfo">
		<div class="container">
			<div class="col-md-12">
				{{ page.footer }}
			</div>
		</div>
</footer>
